

<style>
    footer {
      background-color: #333; /* Fondo gris oscuro */
      color: #fff; /* Texto blanco */
    }
  
    footer .text-reset{
      color: #fff; /* Enlaces blancos */
    }
  
    /* footer a:hover {
      color: #fff;
    } */
  
    /* Estilo para el SVG */
    .footer-logo {
      width: 32vh; /* Ajusta el tamaño según necesites */
      height: 8vh; /* Ajusta el tamaño según necesites */
      vertical-align: middle; /* Alinea verticalmente con el texto */
      margin-right: 8px; /* Espacio entre el SVG y el texto */
    }

    h6{
      color: white;
    }

    .fab{
      font-size: 2.5rem;
      margin-right: 20px;
      transition:.3s;
      background-color: transparent;
      color: #ccc;
    }

    .fab:hover{
      background-color: transparent;
      color: white;
      font-size: 2.5rem;
    }

    /* PEQUEÑOS AJUSTES AL DISEÑO RESPONSIVO */
    @media (max-width: 550px) {
      footer{
        padding: 45px;
      }
      .text-center .p-4{
        width: 100%;
        height: 80px;
      }
    }


  </style>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <img src="../assets/img/LOGO.svg" alt="Logo" class="footer-logo">
            </h6>
            <p style="color: #ccc;">
              Impulsamos el éxito de tu negocio con soluciones digitales innovadoras y diseño creativo, adaptados a tus necesidades para asegurar tu crecimiento.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Servicios
            </h6>
            <p>
              <a href="" style="color: #ccc;">Teconologia de la información</a>
            </p>
            <p>
              <a href="" style="color: #ccc;">Ingenieria Electrica</a>
            </p>
            <p>
              <a href="" style="color: #ccc;">Marquetin Digital</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Nosotros
            </h6>
            <p>
              <a href="#!" style="color: #ccc;">Nuestra Historia</a>
            </p>
            <p>
              <a href="#!" style="color: #ccc;">Quienes somos</a>
            </p>
            <p>
              <a href="#!" style="color: #ccc;">Convenios</a>
            </p>
            <p>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacta con nosotros</h6>
            <p style="color: #ccc;"><i class="fas fa-home me-3"></i> 
                Av. Lopez de zuñiga Nº 547 2º Piso Chancay
                </p>
            <p style="color: #ccc;">
              <i class="fas fa-envelope me-3"></i>
              correo@ejemplo.com
            </p>
            <p style="color: #ccc;"><i class="fas fa-phone me-3"></i>+51 987 654 321</p>
            <p style="color: #ccc;"><i class="fas fa-print me-3"></i> ------ </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p style="color: white;">CREADO POR: Soluciones Integrales JB  2024</p>
    </div>
    <!-- Copyright -->
  </footer>
