.product-item {
    height: 400px;
    /* Ajusta la altura según tus necesidades */
}

.product-img img {
    height: 200px;
    /* Ajusta la altura según tus necesidades */
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho del contenedor */
    object-fit: contain;
    /* La imagen se adapta al contenedor sin recortarse */
}

.card-body {
    height: 150px;
    /* Asegura que el cuerpo de la tarjeta tenga una altura constante */
}
